// $mec: springgreen !default;
// $mx: aquamarine !default;
// $superx: blueviolet !default;
// $mxgp: steelblue !default;
// $motogp: deepskyblue !default;
// $arenax: goldenrod !default;
// $nascar: orangered !default;


.dashboard-view{
	// border: 2px solid orange;

	.slider{
		// border: 1px dashed aqua;
		height: 230px;
	}
	.slider-slide{
		// background: pink;
	}
	.box{
		background-color: rgba( black, .5 );
		height: 100%;

		&.mec{
			background-color: rgba( $mec, .3);
		}
		&.mx{
			background-color: rgba( $mx, .3);
		}
		&.superx{
			background-color: rgba( $superx, .3);
		}
		&.mxgp{
			background-color: rgba( $mxgp, .3);
		}
		&.motogp{
			background-color: rgba( $motogp, .3);
		}
		&.arenax{
			background-color: rgba( $arenax, .3);
		}
		&.nascar{
			background-color: rgba( $nascar, .3);
		}
	}

	.details{
		margin: 15px 35px;
	}

	.ad{
		// border: 1px solid red;
		width: 100%;
		height: auto;
		img{
			// border: 1px solid lime;
			width: 100%;
			height: auto;
		}
	}

	.title{
		width: 100%;
		text-align: center;
		margin: 5px 0;
	}

	.all-series.button{
		margin: 0;
	}

	.other-content{
		
	}

	.leaderboard{
		color: goldenrod;
		.list{
			padding: 10px 25px;
			list-style: initial;
			list-style-type: decimal;
		}
		li{
			margin: 5px 0;
			border-bottom: 1px solid goldenrod;
		}
		// .name{
		// 	border: 1px solid goldenrod;
		// }
		.score{
			float: right;
		}
	}
}