.dashboard-view{
	$maxWidth: 450px;
	$maxHeight: 450px;

	.slider{
		height: 230px;
	}
	.slider-pager{
		bottom: 10px;
	}
	.slider-slide{
		// border: 1px solid white;
		background:  url('/images/series/mec.png') top center no-repeat;
		background-size: cover;

		// padding: 10px 10px 0;
		&.mec {
			background-image: url('/images/series/mec.png');
			.box{
				background-color: rgba( $mec, .3);
			}
		}
		&.mx {
			background-image: url('/images/series/mx.png');
			.box{
				background-color: rgba( $mx, .3);
			}
		}
		&.superx {
			background-image: url('/images/series/superx.png');
			.box{
				background-color: rgba( $superx, .3);
			}
		}
		&.mxgp {
			background-image: url('/images/series/mxgp.png');
			.box{
				background-color: rgba( $mxgp, .3);
			}
		}
		&.motogp {
			background-image: url('/images/series/motogp.png');
			.box{
				background-color: rgba( $motogp, .3);
			}
		}
		&.arenax {
			background-image: url('/images/series/arenax.png');
			.box{
				background-color: rgba( $arenax, .3);
			}
		}
		&.nascar {
			background-image: url('/images/series/nascar.png');
			.box{
				background-color: rgba( $nascar, .3);
			}
		}
	}
	.box{
		height: 100%;
		max-width: $maxWidth;
		display: block;
		margin: 0 auto;


	}

	.details{
		margin: 15px 35px;
	}

	.ad{
		// border: 1px solid red;
		width: 100%;
		height: auto;
		background: black;
		img{
			// border: 1px solid lime;
			width: 100%;
			height: auto;
			max-width: $maxWidth;
			max-height: $maxHeight;
			margin: 0 auto;
			display: block;
		}
	}

	.title{
		width: 100%;
		text-align: center;
		margin: 5px 0;
	}

	.all-series.button{
		// margin: 0;
		transition: background-color .5s;
		margin-left: auto;
		margin-right: auto;
		max-width: $maxWidth;
	}

	.other-content{
		
	}

	.leaderboard{
		color: goldenrod;
		max-width: $maxWidth;
		margin: 0 auto;

		.list{
			padding: 10px 25px;
			list-style: initial;
			list-style-type: decimal;
		}
		li{
			margin: 5px 0;
			border-bottom: 1px solid goldenrod;
		}
		// .name{
		// 	border: 1px solid goldenrod;
		// }
		.score{
			float: right;
		}
	}


	&.mec{
		.button.all-series{
			background-color: $mec;
			border-color: darken( $mec, .10 );
		}
	}
	&.mx{
		.button.all-series{
			background-color: $mx;
			border-color: darken( $mx, .10 );
		}
	}
	&.superx{
		.button.all-series{
			background-color: $superx;
			border-color: darken( $superx, .10 );
		}
	}
	&.mxgp{
		.button.all-series{
			background-color: $mxgp;
			border-color: darken( $mxgp, .10 );
		}
	}
	&.motogp{
		.button.all-series{
			background-color: $motogp;
			border-color: darken( $motogp, .10 );
		}
	}
	&.arenax{
		.button.all-series{
			background-color: $arenax;
			border-color: darken( $arenax, .10 );
		}
	}
	&.nascar{
		.button.all-series{
			background-color: $nascar;
			border-color: darken( $nascar, .10 );
		}
	}


}