.dashboard-view{

	.slider{
		height: 230px;
	}
	.slider-slide{
	}
	.box{
		background-color: rgba( black, .5 );
		height: 100%;

		&.mec{
			background-color: rgba( $mec, .3);
		}
		&.mx{
			background-color: rgba( $mx, .3);
		}
		&.superx{
			background-color: rgba( $superx, .3);
		}
		&.mxgp{
			background-color: rgba( $mxgp, .3);
		}
		&.motogp{
			background-color: rgba( $motogp, .3);
		}
		&.arenax{
			background-color: rgba( $arenax, .3);
		}
		&.nascar{
			background-color: rgba( $nascar, .3);
		}
	}

	.details{
		margin: 15px 35px;
	}

	.ad{
		// border: 1px solid red;
		width: 100%;
		height: auto;
		img{
			// border: 1px solid lime;
			width: 100%;
			height: auto;
		}
	}

	.title{
		width: 100%;
		text-align: center;
		margin: 5px 0;
	}

	.all-series.button{
		margin: 0;
		transition: background-color .5s;
	}

	.other-content{
		
	}

	.leaderboard{
		color: goldenrod;
		.list{
			padding: 10px 25px;
			list-style: initial;
			list-style-type: decimal;
		}
		li{
			margin: 5px 0;
			border-bottom: 1px solid goldenrod;
		}
		// .name{
		// 	border: 1px solid goldenrod;
		// }
		.score{
			float: right;
		}
	}


	&.mec{
		.button.all-series{
			background-color: $mec;
			border-color: darken( $mec, .10 );
		}
	}
	&.mx{
		.button.all-series{
			background-color: $mx;
			border-color: darken( $mx, .10 );
		}
	}
	&.superx{
		.button.all-series{
			background-color: $superx;
			border-color: darken( $superx, .10 );
		}
	}
	&.mxgp{
		.button.all-series{
			background-color: $mxgp;
			border-color: darken( $mxgp, .10 );
		}
	}
	&.motogp{
		.button.all-series{
			background-color: $motogp;
			border-color: darken( $motogp, .10 );
		}
	}
	&.arenax{
		.button.all-series{
			background-color: $arenax;
			border-color: darken( $arenax, .10 );
		}
	}
	&.nascar{
		.button.all-series{
			background-color: $nascar;
			border-color: darken( $nascar, .10 );
		}
	}


}