$calm: blue !default;
$royal: purple !default;
$balanced: lime !default;
$energized: yellow !default;

.dashboard-view{
	// border: 2px solid orange;

	.slider{
		// border: 1px dashed aqua;
		height: 200px;
	}
	.slider-slide{
		// background: pink;
	}
	.box{
		background-color: rgba( black, .5 );
		height: 100%;
		&.supercross{
			background-color: rgba( $royal, .5 );
		}
		&.motocross{
			background-color: rgba( $balanced, .5 );
		}
	}

	.title{
		width: 100%;
		text-align: center;
		margin: 5px 0;
	}

	.other-content{
		
	}
}