<ion-tabs class="nav-view tabs-dark tabs-icon-top tabs-stripped">

    <a href="/dashboard" class="tab-item" ng-class="{active:getState()==='dashboard'}">
      <i class="icon ion-ios-speedometer-outline"></i>
      Dashboard
    </a>
    <a href="/things" class="tab-item" ng-class="{active:getState()==='things'}">
      <i class="icon ion-ios-bolt"></i>
      Create A Contest
    </a>
    <a href="/my-contests" class="tab-item" ng-class="{active:getState()==='my-contests'}">
      <i class="icon ion-ios-people"></i>
      My Contests
    </a>
    <a href="/open-contests" class="tab-item" ng-class="{active:getState()==='open-contests'}">
      <i class="icon ion-earth"></i>
      Open Contests
    </a>
</ion-tabs>
