<ion-tabs class="tabs-dark tabs-icon-only tabs-stripped tabs-icon-top">

    <a href="/dashboard" class="tab-item" ng-class="{active:getState()==='dashboard'}">
      <i class="icon ion-ios-analytics"></i>
      dashboard
    </a>
    <a href="/things" class="tab-item" ng-class="{active:getState()==='things'}">
      <i class="icon ion-android-checkmark-circle"></i>
      things
    </a>
    <a href="/about" class="tab-item" ng-class="{active:getState()==='about'}">
      <i class="icon ion-information-circled"></i>
      about
    </a>
</ion-tabs>
