<ion-tabs class="nav-view tabs-dark tabs-icon-top tabs-stripped">

		<a href="/admin/home" class="tab-item" ng-class="{active:getState()==='admin.home'}">
			<i class="icon ion-ios-speedometer-outline"></i>
			home
		</a>
		<a href="/admin/series" class="tab-item" ng-class="{active:getState()==='admin.series'}">
			<i class="icon ion-ios-bolt"></i>
			create series
		</a>
		<a href="/admin/settings" class="tab-item" ng-class="{active:getState()==='admin.settings'}">
			<i class="icon ion-settings"></i>
			settings
		</a>
</ion-tabs>